spring:
  application:
    name: device

  cache:
    type: redis

  datasource:
    url: jdbc:mysql://localhost:3306/iot_sensor_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
  address: 0.0.0.0

management:
  endpoints:
    enabled-by-default: false

    web:
      exposure:
        include: health, prometheus

  endpoint:
    health:
      enabled: true
      show-details: always

    prometheus:
      enabled: true

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/