name: CI - iot-sensor-data-platform

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build (skip tests)
        run: mvn -B -ntp -q clean package -DskipTests

      - name: Run all tests (Surefire + Failsafe + Testcontainers)
        env:
          TESTCONTAINERS_RYUK_DISABLED: false
          TESTCONTAINERS_CHECKS_DISABLE: true
        run: mvn -B -ntp test verify
